* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  margin: 80px auto;
  max-width: 640px;
  width: 100%;
}

form {
  margin-top: 40px;
}

h1{
    margin-left: 60px;
}

input,
button {
  display: block;
  padding: 8px;
  margin: auto;
  margin-bottom: 8px;
  width: 200px;
  resize: none;
}

button {
  background-color: #ec9b04;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  cursor: pointer;
}

button:hover {
  background-color: #ca8300;
}

.sucess_message, .error_message {
  background-color: #27ae60;
  padding: 16px;
  color: #fff;
  display: none;
}

.error_message{
    background-color: #800909;
}

input.error{
    color: #800909;
    border-color: #800909;
    outline-color: #800909;
}

input.okay{
    color: #27ae60;
    border-color: #27ae60;
    outline-color: #27ae60;
}